<html>

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Котики это чудо</title>
    <link rel="stylesheet" href="{% static 'cats/navigation.css' %}">
</head>

<body>
    <div>
        <div class="navigation">
            <table width=100%>
                <tr>

                    <td class="active">
                        <a href="{% url 'cats:index' %}">
                            Главная
                        </a>
                    </td>

                    <td class="inactive">
                        <a href="{% url 'cats:memes' %}">
                            Мемы с котиками
                        </a>
                    </td>

                    <td class="inactive">
                        <a href="{% url 'cats:perse' %}">
                            Персидские котики
                        </a>
                    </td>

                    <td class="inactive">
                        <a href="{% url 'cats:scotland' %}">
                            Шотландские котики
                        </a>
                    </td>

                    <td class="inactive">
                        <a href="{% url 'cats:wild' %}">
                            Дикие котики
                        </a>
                    </td>

                    <td class="inactive">
                        <a href="{% url 'cats:guests' %}">
                            Ваши котики
                        </a>
                    </td>

                    <td class="med">
                        <a href="https://www.instagram.com/cats_of_instagram/" target="_blank">
                            <img src="{% static 'cats/images/instagram.png' %}" height=30px>
                        </a>
                    </td>
                    <td class="med">
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                            <img src="{% static 'cats/images/youtube.png' %}" height=45px>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <center>
        <h1> Котики - величайшее сокровище человечества </h1>
    </center>

    <p>
        Почему котиков любит 99% населения планеты? На этот вопрос существует очень много ответов:
        <ul>
            <li>
                Котики могут пребывать сразу в двух агрегатных состояниях вещества:
                <br>
                <ol>
                    <li>
                        Мягкое тело
                    </li>
                    <li>
                        Жидкость
                    </li>
                </ol>
            </li>
            <li>
                Котики успокаивают
            </li>
            <li>
                <a href="{% url 'cats:perse' %}">Они пушистые!</a>
            </li>
            <li>
                Котики могут видеть потусторонние силы
            </li>
            <li>
                Котики чувствуют состояние своего хозяина
            </li>
        </ul>
    </p>
</body>

</html>