{% extends "cats/menu.html" %} {% load static %} {% block content %}

<center>
    <h1> Котики - величайшее сокровище человечества </h1>
</center>

<p>
    Почему котиков любит 99% населения планеты? На этот вопрос существует очень много ответов:
    <ul>
        <li>
            Котики могут пребывать сразу в двух агрегатных состояниях вещества:
            <br>
            <ol>
                <li>
                    Мягкое тело
                </li>
                <li>
                    Жидкость
                </li>
            </ol>
        </li>
        <li>
            Котики успокаивают
        </li>
        <li>
            <a href="{% url 'cats:perse' %}">Они пушистые!</a>
        </li>
        <li>
            Котики могут видеть потусторонние силы
        </li>
        <li>
            Котики чувствуют состояние своего хозяина
        </li>
    </ul>
</p>
{% endblock content %}
