{% extends "cats/menu.html" %}
{% load static %}
{% block content %}

<style>
    td {
        color: white;
        text-decoration: none;
        padding: 10px;
    }

    td a {
        color: white;
        text-decoration: none;
        padding: 10px;
    }
</style>

<center>
    <h1>Смешные картинки</h1>
    <table background="{% static 'cats/images/memes/bg_flowers.jpg' %}" width="90%">
        <tr padding="40px">
            <td width="34%" bgcolor="maroon">
                <font size="+2"> Котики? </font>
            </td>
            <td width="33%" bgcolor="maroon">
                <font size="+2 "> Мемы? </font>
            </td>
            <td width="33%" bgcolor="maroon">
                <font size="+2 ">
                    <a
                        href="https://www.youtube.com/watch?v=6RwNT2ravz0&ab_channel=%D0%9B%D0%90%D0%99%D0%A2%D0%98%D0%9C ">
                        Загадка вселенной? << Кликни </a>
                </font>
            </td>
        </tr>
        <tr>
            <td width="34%">
                <img src="{% static 'cats/images/memes/mem0.jpg' %} " width="100% " />
            </td>
            <td width="33%">
                <img src="{% static 'cats/images/memes/mem1.jpg' %} " width="100% " />
            </td>
            <td width="33%">
                <img src="{% static 'cats/images/memes/mem2.jpg' %} " width="100% " />
            </td>
        </tr>
        <tr>
            <td width="34%">
                <img src="{% static 'cats/images/memes/mem3.jpg' %} " width="100% " />
            </td>
            <td width="33%">
                <img src="{% static 'cats/images/memes/mem4.jpg' %} " width="100% " />
            </td>
            <td width="33%">
                <img src="{% static 'cats/images/memes/mem5.jpg' %} " width="100% " />
            </td>
        </tr>
        <tr>
            <td width="34%">
                <img src="{% static 'cats/images/memes/mem6.jpg' %} " width="100% " />
            </td>
            <td width="33%">
                <img src="{% static 'cats/images/memes/mem7.jpg' %} " width="100% " />
            </td>
            <td width="33%">
                <img src="{% static 'cats/images/memes/mem8.jpg' %} " width="100% " />
            </td>
        </tr>
        <tr>
            <td width="34%">
                <img src="{% static 'cats/images/memes/mem9.jpg' %} " width="100% " />
            </td>
            <td width="33%">
                <img src="{% static 'cats/images/memes/mem10.jpg' %} " width="100% " />
            </td>
            <td width="33%">
                <img src="{% static 'cats/images/memes/mem11.jpg' %} " width="100% " />
            </td>
        </tr>
        <tr>
            <td width="34%">
                <img src="{% static 'cats/images/memes/mem12.jpg' %} " width="100% " />
            </td>
            <td width="33%">
                <img src="{% static 'cats/images/memes/mem13.jpg' %} " width="100% " />
            </td>
            <td width="33%">
                <img src="{% static 'cats/images/memes/mem14.jpg' %} " width="100% " />
            </td>
        </tr>
        <tr>
            <td width="34%">
                <img src="{% static 'cats/images/memes/mem15.jpg' %} " width="100% " />
            </td>
            <td width="33%">
                <img src="{% static 'cats/images/memes/mem16.jpg' %} " width="100% " />
            </td>
            <td width="33%">
                <img src="{% static 'cats/images/memes/mem17.jpg' %} " width="100% " />
            </td>
        </tr>
    </table>
</center>
{% endblock content %}
