<html>
{% load static %}
{% url 'cats:index' as index %}
{% url 'cats:memes' as memes %}
{% url 'cats:perse' as perse %}
{% url 'cats:scotland' as scotland %}
{% url 'cats:wild' as wild %}
{% url 'cats:guests' as guests %}

<head>
    <meta charset="UTF-8" />
    <title>Котики это чудо</title>
    <link rel="stylesheet" href="{% static 'cats/css/navigation.css' %}" />
</head>

<body>
    <div>
        <div class="navigation">
            <table width="100%">
                <tr>
                    <td class="{% if request.path == index %}active{% else %}inactive{% endif %}">
                        <a href="{{ index }}"> Главная </a>
                    </td>
                    <td class="{% if request.path == memes %}active{% else %}inactive{% endif %}">
                        <a href="{{ memes }}">
                            Мемы с котиками
                        </a>
                    </td>
                    <td class="{% if request.path == perse %}active{% else %}inactive{% endif %}">
                        <a href="{{ perse }}">
                            Персидские котики
                        </a>
                    </td>
                    <td class="{% if request.path == scotland %}active{% else %}inactive{% endif %}">
                        <a href="{{ scotland }}">
                            Шотландские котики
                        </a>
                    </td>
                    <td class="{% if request.path == wild %}active{% else %}inactive{% endif %}">
                        <a href="{{ wild }}"> Дикие котики </a>
                    </td>

                    <td class="{% if request.path == guests %}active{% else %}inactive{% endif %}">
                        <a href="{{ guests }}"> Ваши котики </a>
                    </td>

                    <td class="med">
                        <a href="https://www.instagram.com/cats_of_instagram/" target="_blank">
                            <img src="{% static 'cats/images/instagram.png' %}" height="30px" />
                        </a>
                    </td>
                    <td class="med">
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                            <img src="{% static 'cats/images/youtube.png' %}" height="45px" />
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {% block content %} {% endblock content %}
</body>

</html>
