<html>
{% load static %}

<head>
    <meta charset="UTF-8" />
    <title>Котики это чудо</title>
    <link rel="stylesheet" href="{% static 'cats/navigation.css' %}" />
    <link rel="stylesheet" href="{% static 'cats/button.css' %}" />
</head>

<body>
    <div>
        <div class="navigation">
            <table width="100%">
                <tr>
                    <td class="inactive">
                        <a href="{% url 'cats:index' %}"> Главная </a>
                    </td>
                    <td class="inactive">
                        <a href="{% url 'cats:memes' %}">
                                Мемы с котиками
                            </a>
                    </td>
                    <td class="inactive">
                        <a href="{% url 'cats:perse' %}">
                                Персидские котики
                            </a>
                    </td>
                    <td class="active">
                        <a href="{% url 'cats:scotland' %}">
                                Шотландские котики
                            </a>
                    </td>
                    <td class="inactive">
                        <a href="{% url 'cats:wild' %}"> Дикие котики </a>
                    </td>

                    <td class="inactive">
                        <a href="{% url 'cats:guests' %}"> Ваши котики </a>
                    </td>

                    <td class="med">
                        <a href="https://www.instagram.com/cats_of_instagram/" target="_blank">
                            <img src="{% static 'cats/images/instagram.png' %}" height="30px" />
                        </a>
                    </td>
                    <td class="med">
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                            <img src="{% static 'cats/images/youtube.png' %}" height="45px" />
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <center>
        <h1>
            Шотландцы супер классные!
        </h1>
    </center>

    <center>
        <a href="{% static 'cats/images/scotland/big.jpg' %} " style="text-decoration:none;
    color: white;" target="_blank">
            <img src="{% static 'cats/images/scotland/big.jpg' %} " width=100px>
        </a>
        <br>
        <b>Нажми меня!</b>
    </center>

    <h2>
        Навигация
    </h2>
    <ul>
        <li>
            <a href="#description">Описание породы</a>
        </li>
        <li>
            <a href="#photos">Фоточки</a>
        </li>
    </ul>
    <a name="description"></a>
    <h2>
        Описание породы
    </h2>
    <p>
        По внешнему виду шотландские вислоухие производят впечатление в меру мускулистых кошек, с плавными, словно округлыми линиями тела. Голова круглой формы, с хорошо развитыми подбородком, подушечками вибрисс и челюстями. Глаза круглые и большие, расположены
        широко относительно друг друга (голубого, желтого, зеленого, светло-коричневого оттенка, у белых животных часто встречается гетерохромия). Нос короткий и широкий. Уши маленькие, закругленные на кончиках, направлены вперед и вниз. Шея короткая,
        переходящая плавно в крепкое плотное тело. Грудная клетка развита хорошо, в меру широкая. Конечности средней длины, с округлыми аккуратными лапами. Хвост длинный, сужается к кончику. Шерсть, как было сказано выше, может быть как густой, короткой
        с хорошим подшерстком, так и полудлиной (самый длинный шерстный покров на шее, хвосте и задних конечностях). Окрасы шотландских вислоухих – белый, черный, коричневый, кремовый, рыжий, голубой, дымчатый, пятнистый, табби, мраморный (различных оттенков),
        арлекин (белое тело с отметинами другого цвета, занимающими не более 1/5 окраса), ван (белое тело с несколькими небольшими отметинами другого оттенка), би-колор (сочетание белого с другим цветом), черепаховый (черное тело с вкраплениями рыжего
        и белого).
    </p>
    <a name="photos"></a>
    <h2>
        Лучшие фоточки шотландцев
    </h2>
    <center>
        <table>
            <tr>
                <td>
                    <img src="{% static 'cats/images/scotland/1.jpg' %} " width=300px></img>
                </td>
                <td>
                    Ути какой коооотя
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static 'cats/images/scotland/2.jpg' %} " width=300px></img>
                </td>
                <td>
                    Мурррр
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static 'cats/images/scotland/3.jpg' %} " width=300px></img>
                </td>
                <td>
                    Такая пусечка
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static 'cats/images/scotland/4.jpg' %} " width=300px></img>
                </td>
                <td>
                    Обаяшка
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static 'cats/images/scotland/5.jpg' %} " width=300px></img>
                </td>
                <td>
                    Джентельмен благородных кровей
                </td>
            </tr>
        </table>
    </center>
</body>

</html>
